.movie {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.left > * {
  margin: 0;
}

.btnContainer {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  justify-content: end;
}

.btnDelete {
  background-color: red;
  color: white;
  font-size: 0.95rem;
}

button {
  border: none;
  border-radius: 0.7rem;
  padding: 0.2rem 0.5rem;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
