.form {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form h2 {
  margin: 0 0 1rem 0;
  text-align: center;
}

.form label {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.form label input {
  flex-grow: 1;
}

.form label:nth-child(3) {
  margin-bottom: 1rem;
}

.message {
  margin: 0 0 1rem 0;
  max-width: 30ch;
  font-size: 0.9rem;
}
