@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background-clr: #242333;
  --text-color: #fff;
}

body {
  background-color: var(--background-clr);
  color: var(--text-color);
}

body,
button {
  font-family: "Poppins", sans-serif;
}

.navBtn {
  color: var(--background-clr);
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 0.6em 1.2rem;
  text-decoration: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.navBtn:hover {
  color: var(--text-color);
  background-color: transparent;
  border-color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
