@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background-clr: #242333;
  --text-color: #fff;
}

body {
  background-color: var(--background-clr);
  color: var(--text-color);
}

body,
button {
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
